body {
  margin: 0;
  font-family: "gulim";
}
div {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}
.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.btn {
  margin-top: 20px;
  float: right;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  background-color: aquamarine;
}
.btn:hover {
  background: chocolate;
}
.btn:focus {
  background: red;
}
.btn:active {
  background: blue;
}
.cart-table td,
.cart-table th {
  vertical-align: middle;
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}
.temp:focus {
  border-bottom: 4px solid red;
}
