body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 22px;
}

.head-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: baseline;
  color: whitesmoke;
  background-image: linear-gradient(to bottom, #499add, #4e61c0);
}
.head-left {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  padding-bottom: 0px;
  margin-right: 50px;
}
.head-right {
  position: relative;
  width: 50%;
  margin-right: 0;
}
.head-right-img {
  position: absolute;

  width: 300px;
  bottom: 0px;
}
.head-button {
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: black;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.head-button:hover {
  background-color: crimson;
}
.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: white;
}
.mid-container h4 {
  margin-bottom: 0px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4e61c0;
}
.icon-head {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-head h4 {
  margin-top: 0px;
}
.icon-head h6 {
  margin-bottom: 0px;
}
.icon {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}
.w-50 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.item {
  text-align: center;
  margin: auto;
}
.item i {
  margin-top: 10px;
  padding-top: 20px;
  font-size: 50px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  color: #4e61c0;
}
.animation-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.animation-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.animation-head h4 {
  margin-top: 0px;
}
.animation-head h6 {
  margin-bottom: 0px;
}
.img-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  max-width: 1200px;
  margin: auto;
}
.img-1 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/portfolio-1.jpeg);
  background-size: cover;
}
.img-2 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/portfolio-2.jpeg);
  background-size: cover;
}
.img-3 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/portfolio-3.jpeg);
  background-size: cover;
}
.img-4 {
  position: relative;
  float: left;
  width: 50%;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/portfolio-4.jpeg);
  background-size: cover;
}
.white-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 0px solid white;
}
.white-box:hover {
  border: 30px solid white;
  transition: all, 1s;
}
.img-text {
  color: white;
  padding: 50px;
  width: 100%;
}
.footer {
  margin-top: 50px;
}
.sns {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.sns i {
  margin-left: 50px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: white;
  background-color: #4e61c0;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  border-radius: 50px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .head-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* flex-direction: column; */
  }
  .head-left {
    justify-content: center;
    align-items: center;
  }
  .head-right {
    margin-top: 0px;
  }
  .head-right-img {
    position: relative;
  }
  .icon {
    display: block;
  }
}
